@import '../../Partials/Typography.scss';

card__flip{
    position:relative;
    width: 100%;
    height: 100%;
    transition:transform 0.8s;
    transform-style:preserve-3d;
}
.card:hover.card__flip{
    transform:rotateY(180deg);
}
.card__front-container 
.card__back-container{
    position: absolute;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.card__back-container{
    background-color: black;
    color:white;
    padding:2rem;
    transform: rotateY(180deg);
}
.cards__info{
    list-style: none;
    padding-bottom:1rem;
}
card__img{
 width:100%;
  height: 30rem;
  object-fit:cover;  
}
cards{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:1rem;
}
@media(max-width:1080px){
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width:750px){
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width:450px){
    .cards{
        grid-template-columns: 1fr;
    }
}
