@import '../../Partials/Typography.scss';




.card__front-container
.card__back-container {
    position: absolute;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card__item {
    position:relative;
    width: 100%;
    height: 100%;
    transition:transform 0.8s;
    transform-style:preserve-3d;
    perspective: 600px;
}
.card:hover.card__item{
    transform: rotateY(180deg);
}

.cards {
  display: grid;
  grid-column-gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  width: 85%;
  margin: auto;
  border-radius: 1rem;
}

.card__back-container {
    background-color: black;
    padding:2rem;
    transform: rotateY(180deg);
}

.card__info {
    list-style: none;
    padding-bottom:1rem;
    // color: #B9540C;
    // color: #FFF190;
    // color: #FCFEF0;
    color: #C38D5F;
    font-size: 1.6rem;
}


.card__img {
     height: 40rem;
     width: 30rem;
     object-fit: cover;
     border-radius: 5px;
   }

  