@import '../../Partials/Typography.scss';


body {
    background-image: linear-gradient(
        rgba(black, 0.3), 
        rgba(black, 0.3)),  
        url(../../Assets/winter-bg.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
   

    .Hero__Header--img {
        margin: 1.5rem 0 4rem 0;
        height: 25rem;
    }


.Hero__Heading {
font-size: 3rem;
color: #C38D5F;
margin-bottom: 4rem;
    
}

