@use '../Fonts/GameofThrones.woff';
@use '../Fonts/stylesheet.css';

@font-face {
    font-family: 'Game of Thrones';
    src: url('../Fonts/GameofThrones.woff2') format('woff2'),
        url('../Fonts/GameofThrones.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}